In [6]:
import os
import json
import pandas as pd
from dotenv import load_dotenv

load_dotenv()

False

In [19]:
def to_dataframe(base_dir, sub_dir, fname):
    file_path = f'{base_dir}/{sub_dir}/{fname}.json'
    try:
        df = pd.read_json(file_path)
    except FileNotFoundError as err:
        raise (err)
    return df

def to_json(df:pd.DataFrame, tgt_dir, sub_dir, fname):
    file_path = f'{tgt_dir}/{sub_dir}/{fname}.json'
    os.makedirs(f'{tgt_dir}/{sub_dir}', exist_ok=True)
    try:
        df = pd.read_json(file_path, orient=True, lines=True)
    except FileNotFoundError as err:
        raise (err)
    return df

In [21]:
base_dir = os.getenv('EXTRACTED_DIR')
coinslist = to_dataframe(base_dir, 'coinslist', 'coinslist')
coinslist.columns

Index(['id', 'symbol', 'name', 'image', 'current_price', 'market_cap',
       'market_cap_rank', 'fully_diluted_valuation', 'total_volume',
       'high_24h', 'low_24h', 'price_change_24h',
       'price_change_percentage_24h', 'market_cap_change_24h',
       'market_cap_change_percentage_24h', 'circulating_supply',
       'total_supply', 'max_supply', 'ath', 'ath_change_percentage',
       'ath_date', 'atl', 'atl_change_percentage', 'atl_date', 'roi',
       'last_updated'],
      dtype='object')

In [22]:
coinslist[['id','symbol', 'name']]

                     id  symbol          name
0               bitcoin     btc       Bitcoin
1              ethereum     eth      Ethereum
2                tether    usdt        Tether
3                ripple     xrp           XRP
4           binancecoin     bnb           BNB
..                  ...     ...           ...
195              kusama     ksm        Kusama
196  trust-wallet-token     twt  Trust Wallet
197                blur    blur          Blur
198          frax-ether  frxeth    Frax Ether
199          theta-fuel   tfuel    Theta Fuel

[200 rows x 3 columns]

In [ ]:
def transform_coinlists(df):
    
    coins = df[['id','symbol', 'name']]