In [40]:
import pandas as pd

df = pd.read_csv('./data/transformed_data/time/time.csv')
df['timestamp'].shape

(1620,)

In [41]:
df

                timestamp  day  month  year  weekday
0     2024-12-16 12:00:00   16     12  2024        0
1     2024-12-16 16:00:00   16     12  2024        0
2     2024-12-16 20:00:00   16     12  2024        0
3     2024-12-17 00:00:00   17     12  2024        1
4     2024-12-17 04:00:00   17     12  2024        1
...                   ...  ...    ...   ...      ...
1615  2024-12-17 00:00:00   17     12  2024        1
1616  2024-12-17 04:00:00   17     12  2024        1
1617  2024-12-17 08:00:00   17     12  2024        1
1618  2024-12-17 12:00:00   17     12  2024        1
1619  2024-12-17 16:00:00   17     12  2024        1

[1620 rows x 5 columns]

In [42]:
df = pd.DataFrame(columns=['timestamp'])
data = pd.read_csv('./data/transformed_data/time/time.csv', chunksize=10)
for chunk in data:
    temp = pd.to_datetime(chunk['timestamp'].unique())
    df = pd.concat((df, temp.to_frame(name='timestamp')), ignore_index=True).drop_duplicates()

C:\Users\shinthantaun\AppData\Local\Temp\ipykernel_37192\1901205341.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat((df, temp.to_frame(name='timestamp')), ignore_index=True)